/* PROGRESS PAGE SPECIFIC STYLES */

/* -------------------  MOBILE  --------------------- */
header {
  background-image: url('https://www.gannett-cdn.com/-mm-/51ee2605f9ba979737fedd56e44c8e0e08dc6c27/c=0-0-3319-1875/local/-/media/2017/06/09/USATODAY/USATODAY/636326382643925391-CARS-3-RGB-a451-204dcs.pub16.117.jpg?width=3200&height=1808&fit=crop&format=pjpg&auto=webp');
}

main#two-columns {
    margin: 50px 0;
    display: flex;
}

main#two-columns section {
    max-width: 50vw;
}

section#accelerate button {
    height: 300px;
    width: 300px;
    margin: 30px auto;
    border-radius: 180%;
    background-color: green;
    border-color: rgb(14, 166, 6);
    cursor: pointer;
}

#big-numbers {
    font-weight: bolder;
    font-size: 70px;
}

/* -------------------  TABLET  --------------------- */
@media (min-width: 768px) {

}

/* -------------------  DESKTOP  -------------------- */

@media (min-width: 1224px) {
}

/* -------------------  LARGE SCREENS  -------------- */

@media (min-width: 1824px) {
}
